# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
Package.resolved
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Xcode Previews
*.preview-thumbnails

# Archives
*.xcarchive

# App files
*.ipa
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace

# SPM cache
SourcePackages/
